@import "colors";
@import "scroll_bar";
@import "navbar";
@import "sidebar";
@import "table";
@import "spinner";

@font-face {
  font-family: SFNS-Display-Regular;
  src: url("../font/SFNS-Display-Regular.ttf");
}

html,
body {
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  font-family: SFNS-Display-Regular;
  background-color: $bg;
}

.pointer {
  cursor: pointer;
}

h1 {
  font-size: 25px;
}
p {
  font-size: 15px;
}

.pt-70 {
  padding-top: 70px;
}

.primary {
  color: $primary;
}
.secondary {
  color: $secondary;
}
.dark_gray {
  color: $dark_gray;
}
.bg-gray-main {
  background-color: $bg;
}
.bg-dark-gray-main {
  background-color: $dark_gray;
}
.bg-primary-main {
  background-color: $primary !important;
}

.box-shadow-main {
  box-shadow: $shadow;
}

.w-14 {
  width: 56px;
}
.h-14 {
  height: 56px;
}

.btn-primary-main {
  background-color: $primary;
  cursor: pointer;
  border-radius: 20px;
  min-width: 94px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.btn-primary-main:hover {
  background-color: $secondary;
}
.btn-default-main {
  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;
  min-width: 94px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary;
  border: 1px solid $primary;
}

.active {
  color: $primary !important;
  font-weight: bold;
}

.h-main {
  min-height: calc(100vh - 70px);
}
.form-control {
  background-color: transparent;
  border-color: $dark_gray;
}

.form-control:focus {
  outline: 0 none !important;
  box-shadow: none;
  background-color: transparent;
  border-color: $primary;
}

.icons {
  border: 1px solid $primary;
}

.border-error {
  border: 1px solid red;
}

.mdc-dialog__surface {
  overflow-y: inherit !important;
}

.cdk-global-overlay-wrapper {
  overflow-y: auto;
  padding-top: 64px;
}
