<div class="flex justify-center items-center h-main" [formGroup]="loginForm">
    <div class="login flex bg-white rounded-lg my-10 relative overflow-hidden md:overflow-auto transition-all">
        <img class="blur-2xl md:blur-0 transition-all w-full md:w-auto" src="../../../../../assets/image/Rectangle.png"
            alt="">
        <div class="absolute top-0 bottom-0 md:relative flex flex-col justify-center p-4 w-full transition-all">
            <h1 class="secondary mb-3">Welcome back!</h1>
            <p class="dark_gray mb-3">Please login to access your <span class="primary">Spaces</span> Dashboard </p>
            <div class="mb-3">
                <label class="form-label dark_gray">Email</label>
                <input type="email" class="form-control" placeholder="Email…" formControlName="email"
                    [class.border-error]="!loginForm.get('email')?.valid &&loginForm.get('email')?.touched">
            </div>
            <span class="text-red-500 text-xs font-bold mb-3"
                *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Email is
                required</span>
            <div class="mb-3">
                <label class="form-label dark_gray">Password</label>
                <input type="password" class="form-control" placeholder="**********" formControlName="password"
                    [class.border-error]="!loginForm.get('password')?.valid &&loginForm.get('password')?.touched">
            </div>
            <span class="text-red-500 text-xs font-bold mb-3"
                *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Password is
                required</span>
            <div class="flex justify-between items-center">
                <a href="" class="primary">Forgot password?</a>
                <a class="btn-primary-main" (click)="onSubmit()">LOGIN</a>
            </div>
        </div>
    </div>
</div>