<div class=" w-full py-3 header mb-3">
    <div class="container transition-all">
        <div>
            Home/Dashboard
        </div>
        <div class="flex justify-between items-center">
            <h1>Users List</h1>
            <a class="btn-primary-main flex justify-between items-center px-2" (click)="addUser()">
                <span class="text-2xl mr-1">+</span>
                New User
            </a>

        </div>
    </div>

</div>

<div class="container transition-all" infiniteScroll (scrolled)="onScrollDown($event)">
    <div class="flex relative overflow-hidden p-3 ">
        <div class="w-full p-3 bg-white rounded-s-lg box-shadow-main">
            <div class="flex justify-between items-center p-3 rounded-lg mb-3">
                <div class="flex items-center">
                    <p class="mx-2 secondary">User</p>
                </div>
                <div class="flex items-center justify-start w-28">
                    <p>Actions</p>
                </div>
            </div>
            <ng-container *ngFor="let user of users; trackBy: trackByFn">
                <div class="flex justify-between items-center p-3 rounded-lg user-item"
                    [class.bg-primary-main]="isShowDetails && itemId == user.id">
                    <div class="flex flex-col sm:flex-row items-center">
                        <div class="rounded-full w-14 h-14 overflow-hidden flex justify-center items-center">
                            <img class="max-w-none h-full" [src]="user.avatar" alt="">
                        </div>
                        <p class="mx-2 secondary " [class.text-white]="isShowDetails && itemId == user.id">
                            {{user.first_name}} {{user.last_name}}</p>
                    </div>
                    <div class="flex items-center" [class.hidden]="isShowDetails && itemId== user.id">
                        <div class="w-8 h-8 flex items-center justify-center icons pointer p-2 rounded-md"
                            (click)="updateUser(user)">
                            <img src="../../../../../assets/image/icons8-edit2.png" alt="">
                        </div>
                        <div class="w-8 h-8 flex items-center justify-center icons pointer p-2 rounded-md mx-2"
                            (click)="deleteUser(user)">
                            <img src="../../../../../assets/image/icons8-delete.png" alt="">
                        </div>
                        <div class="w-8 h-8 flex items-center justify-center pointer p-2 rounded-md"
                            (click)="showDetails(user)">
                            <img src="../../../../../assets/image/icons8-right.png" alt="">
                        </div>
                    </div>
                </div>
                <hr class="my-2">
            </ng-container>
            <app-spinner *ngIf="loader"></app-spinner>

        </div>
        <div class="details bg-gray-main box-shadow-main p-3 rounded-e-lg absolute h-auto  md:relative invisible transition-all"
            [class.visible]="isShowDetails" [class.invisible]="!isShowDetails">
            <div class="flex justify-end mb-3 ">
                <img class="w-5 pointer" src="../../../../../assets/image/icons8-delete_sign.png"
                    (click)="hideDetails()" alt="">
            </div>
            <app-user-details [user]="userItem" (editUserEmitter)="updateUser($event)"
                (deleteUserEmitter)="deleteUser($event)"></app-user-details>
        </div>
    </div>
</div>